<div class="row center">
  <div class="col s12">
    <img src="<%= image_url('tweek-logo.png') %>" />
  </div>
  <div class="col s12">
    <%= link_to 'Choose where to lunch NOW', new_user_session_path, class: 'fancy-button' %>
  </div>
</div>
