<%= render 'helpers/new_place_modal' %>

<div class="row">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.value %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col s12">
    <a id="open_modal_add" class="waves-effect waves-light button button-primary modal-trigger" href="#modal_add">Add new place</a>
  </div>
</div>
